!!! 5
html
	head
		meta(charset="UTF-8")
		script(src="/resources/js/game.js")
	body
		div Játékos név: 
			span#playerName
		div Szoba neve: 
			span#roomName
		form#loginForm
			input(name="name" placeholder="Játékos név")
			button(type="submit") Belépés
		table#players(style="display:none;")
			thead
				tr
					th Játékos
					th Pont
			tbody
		div#moves(style="display:none;")
			button#askForCard Kérek még!
			button#stop Megállok!